* {
    padding: 0;
    margin: 0;
    font-family: 'Itim';
}

.background {
    
    height: 80vh;
    padding-top: 1px;
}
body{
    background-color: khaki
}

.title {
    color: rgb(14, 81, 148);
    text-align: center;
    font-size: 40px;
    margin-top: 1%;
}

.display {
    color: firebrick;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile:hover{
    background-color: darkturquoise
}

.tile {
    border: 2px solid rgb(29, 27, 29);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #a607f0;
}

.playerO {
    color: darkcyan;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button { 
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #49fba2;
    /* cursor: pointer; */
}
#reset:hover{
    color: rgb(20, 23, 220);
    background-color: rgb(31, 209, 0)
}

#reset {
    background-color: #1144b1;
}